[2020-07-05 13:37] vineetred opened #2 "is_gnome_compliant gets compiled in macOS"
**Describe the bug**
When releasing the binary for macOS, the function ```is_gnome_compliant``` in ```lib.rs``` gets compiled even though it is never used.

**To Reproduce**
Can be seen in the file ```lib.rs```

**Expected behavior**
The macOS version should not have this copy. A ```cfg``` tag can help here.

[2020-07-05 15:07] #2 closed

[2020-07-05 16:43] sallywoog opened #4 "Multiple folders for different times of day synced with sunset and sunrise times like redshift"
Multiple folders for different times of day synced with sunset and sunrise times like redshift

Then we can have daytime folder and nightitme folders with light and dark wallpapers

Also synced with sunset and sunrise times like redshift/F.lux

[2020-07-05 17:13] vineetred commented on #4
This sounds great! I'll definitely try implementing it.

[2020-07-06 06:30] vineetred opened #6 "Refactor the codebase to handle expansion"
**Is your feature request related to a problem? Please describe.**
The ```get``` and ```set``` wallpaper functions are very messy currently as they have to handle multiple OSes.

**Describe the solution you'd like**
 Check desktop once and use enum type from there on out ```(match Some(enum))```.

**Additional context**
The config file, ```times.toml``` must be edited for this as well as ```struct

[2020-07-06 13:31] mmstick opened #7 "Change GTK theme based on time of day"
In the example of Pop!_OS, we have dark and light variants of our theme. It's been a commonly-requested feature to support alternating between them based on time of day. A light theme during the day, and a dark theme at night.

[2020-07-06 14:52] vineetred commented on #7
Just for clarification, the feature requested is that there be different set of folders for the day and different for the night. Is this correct @mmstick?

[2020-07-06 15:10] mmstick commented on #7
No, the change would be using `gio.Settings` to set the GTK theme. For example, say that your active theme is `PopOS`. At night, you'd want this to change to `PopOS-dark`. During the day, change it to `PopOS`.

[2020-07-06 15:22] vineetred commented on #7
Got it. Sounds like a good addition so will be adding this to the todo. Do contribute too if you can!

[2020-07-06 18:18] vineetred commented on #4
@sallywoog I've jotted down the logic that incorporates the sunset and sunrise times into my app. However, I'm still conflicted about having two different subfolders for light and dark wallpapers as I feel this is a very unelegant solution. I'll still push it so that those that want this feature can use it in the meantime. Do you have any other suggestions that can alleviate this?

[2020-07-06 18:56] mloehnig commented on #6
There seems to be another create that provides the `get` and `set` wallpaper functionality. https://docs.rs/wallpaper/2.0.1/wallpaper/

But if you would like to recreate this crate I would be happy to assist.

[2020-07-06 20:02] vineetred commented on #6
@swagggpickle So I did look at this crate when I was building flowy. However, I thought the contents could be easily reproducible in this codebase itself and avoid having to import extra crates. As you can see, I've implemented a few methods from that crate already in flowy.

So I suggest we just recreate it here. So yes, would love to get your help on it. What do you suggest we start with?

[2020-07-06 20:19] Aloso opened #8 "Support KDE"
I use KDE and would like to use this tool. However, KDE is not supported according to the README.

[2020-07-06 20:22] vineetred commented on #8
Hey @Aloso! So I tried building it but I had no way to test it so had to shelf it for now. But since all the low level functions are already implemented, it should be done fairly quick.

Do let me know if you're down to help.

[2020-07-07 07:24] vineetred commented on #8
@Aloso added KDE support in the latest release. Let me know how it performs and file reports if there are any bugs that you encouter.

[2020-07-07 07:24] vineetred commented on #8
@Aloso added KDE support in the latest release. Let me know how it performs and file reports if there are any bugs that you encouter.

[2020-07-07 07:24] #8 closed

[2020-07-07 12:50] sallywoog commented on #4
how about a metadata file that "describes" the type of images rather than folders then they can be stored anywhere

[2020-07-07 13:09] vineetred commented on #4
@sallywoog let me just make it clear. You want to have a metadata file that can tell the application what the kind of wallpaper it is -- if it is morning one or a dark one? Is this right?

[2020-07-07 15:32] vineetred commented on #6
@swagggpickle So I did look at this crate when I was building flowy. However, I thought the contents could be easily reproducible in this codebase itself and _avoid_ having to import extra crates. As you can see, I've implemented a few methods from that crate already in flowy.

So I suggest we just recreate it here. So _yes_, would love to get your help on it. My main priority is the refactor the

[2020-07-07 17:04] sallywoog commented on #4
You could, up to you, was just an idea

[2020-07-07 18:44] vineetred opened #9 "Function to GET Sunset and Sunrise times"
**Is your feature request related to a problem? Please describe.**
Need a function that can contact the ```sunrise-sunset.org``` API to get the sunset and sunrise times.

**Describe the solution you'd like**
Ideally a function which takes the coordinates as the argument and returns the sunset and sunrise times.

**Additional context**
Let's stick to using the ```Reqwest``` module as it is already

[2020-07-07 19:09] Aloso opened #10 "Wallpaper isn't set initially when starting flowy"
**Describe the bug**
The wallpaper is updated at certain times of the day, but is in _not_ updated when initially starting `flowy`.

**To Reproduce**
1. Run `flowy -p lake`

**Expected behavior**
The wallpaper changes

**Desktop (please complete the following information):**
 - OS: Manjaro Linux
 - DE: KDE 5.70.0 / Plasma 5.18.5
 - WM: KWin
 - Version: `master` branch

[2020-07-07 19:33] Aloso commented on #6
I'd like to point out that the `wallpaper` crate looks unmaintained. The last commit was over a year ago, and issues that were reported since then have been ignored.

It would be nice if `flowy` was split into two crates, one for the CLI and one for setting wallpapers. The latter would be an alternative for the existing `wallpaper` crate, but well maintained and with fewer dependencies.

[2020-07-07 19:43] Aloso opened #11 "Place config file in appropriate place"
Configuration files should be placed in the appropriate location depending on the OS. For example, on Linux, it should be in `~/.config`.

I recommend to use the [directories-next](https://docs.rs/directories-next/1.0.1/directories_next/) crate for this.

[2020-07-07 19:51] vineetred commented on #11
Do you think you can work on this issue?

[2020-07-07 20:17] Aloso commented on #8
Thanks for adding KDE support! I tested it and it works. In some cases it can panic, which I fixed in #12.

[2020-07-07 20:20] Aloso commented on #11
Yes, this should be straightforward to implement. I'll make a PR.

[2020-07-07 20:23] Aloso commented on #11
Should downloaded wallpapers be in the `.config` folder as well? I think yes, so they don't pollute the current working directory.

[2020-07-07 21:02] vineetred commented on #11
I think yes, that would be ideal. Will keep them hidden from the user's visible directories at least.

[2020-07-07 21:04] vineetred commented on #6
This would be the most ideal setup. However, I will take a bit longer as I am already working on another feature. If either of you want to begin working on that, it would be great.

[2020-07-07 21:28] #11 closed

[2020-07-07 22:18] Aloso commented on #6
I'll create a separate issue to continue discussion there.

[2020-07-07 22:31] Aloso opened #15 "Split setting the wallpaper into separate crate"
As I mentioned in https://github.com/vineetred/flowy/issues/6#issuecomment-655078842, it would be ideal if the functionality for setting the wallpaper was moved to a new crate.

A similar crate, [`wallpaper`](https://github.com/reujab/wallpaper.rs), already exists, but it appears unmaintained and has more dependencies than necessary; therefore, a new crate could prove useful for other people. For

[2020-07-07 23:25] mloehnig commented on #6
@vineetred Yes I think I can help with refactoring the existing `set` and `get` functions.

[2020-07-08 00:30] Aloso commented on #6
@swagggpickle I didn't see that you wanted to implement this and already created a PR for it, sorry!

[2020-07-08 00:41] Aloso commented on #7
To me this sounds unrelated to wallpapers, so it might be better to use a separate tool for this. I prefer when a tool only does one thing, but does it very well.

I found the tool [AutomaThemely](https://github.com/C2N14/AutomaThemely) on Google.

[2020-07-08 01:00] Aloso opened #17 "Use smaller HTTP library"
Since only the blocking API of `reqwest` is used, it could be easily replaced with `ureq` to reduce the number of dependencies. `ureq` is very lightweight and offers several features to select only the required functionality. It is well tested and free of `unsafe`.

[2020-07-08 01:13] Aloso commented on #9
What's the purpose of this? Is this intended for #7?

[2020-07-08 01:33] amr3k commented on #10
I can confirm this with the same specs (Manjaro KDE)

[2020-07-08 05:13] vineetred commented on #17
I had asked on the Rust discord channel. Those guys just suggested I stick with ```reqwest```. However, it seems to make flowy a lot bulkier than required so I will be lookinginto this library. Thanks.

[2020-07-08 05:15] vineetred commented on #15
Now that the codebase has been modularised, extracting it into a new crate should not be that hard. We can do this soon.

As for the name, ```wallpaper-rs``` sounds good.

@swagggpickle you think this can be worked up instead?

[2020-07-08 05:17] vineetred commented on #6
@swagggpickle seems like this issue is sorted. Let me know if would like to contribute to other aspects of the code? Issue #15 wants to take the wallpaper codebase and make it into another crate. Do you think you can do this?

[2020-07-08 05:17] vineetred commented on #9
@Aloso yes.

[2020-07-08 05:18] vineetred commented on #9
@Aloso no, this is for Issue #4

[2020-07-08 05:20] vineetred commented on #7
@mmstick what are your thoughts on this?

[2020-07-08 06:49] vineetred commented on #15
Also, we need to decide if the new wallpaper crate will need it's own repo or we continue using this for it.

[2020-07-08 08:20] Baldomo commented on #9
@vineetred instead of relying on external online services [redshift's sun elevation module](https://github.com/jonls/redshift/blob/master/src/solar.c) can be easily ported into Rust

[2020-07-08 08:23] vineetred commented on #9
@Baldomo it's just a lot more work porting a module than using an external online service. However, if you have other alternatives, happy to hear about it.

[2020-07-08 11:49] Baldomo commented on #9
@vineetred I ported the code in rust and the accuracy test I wrote for the most important functions all pass. Please check it out

https://gist.github.com/Baldomo/11d3218b2ddf9b0c66a8cabc353a0bc6

There are some unneeded functions but this is just a literal translation of the original C code in idiomatic Rust. This module/file will never need maintenance because it only provides arithmetic functio

[2020-07-08 11:56] vineetred commented on #9
@Baldomo this is brilliant! Does the code follow the same specification/API parameters as the C version?

[2020-07-08 12:00] Baldomo commented on #9
Yes, I just translated it and added some more explanations to the original comments

[2020-07-08 12:15] vineetred commented on #9
@Baldomo Why don't you publish this as a crate? It would be great if others can use it as well. I can help you with this if needed. Will allow easy import as well.

[2020-07-08 12:47] Baldomo commented on #9
Honestly I don't really want to have to maintain a crate with this little functionality, it's totally fine to include the code in flowy though. And the gist will be indexed by search engines anyways so whoever looks for it will find it

[2020-07-08 12:51] vineetred commented on #9
@Baldomo that makes sense. I'll try to incorporate this into flowy. Just to clarify -- which function in the ported version returns the sunset and sunrise times?

[2020-07-08 12:59] Baldomo commented on #9
The file is currently missing a function which basically returns a `Map<SolarTime, f64>` filled with the absolute epoch times of the events given a latitude and longitude. I'll add it in the next 20 minutes or so

[2020-07-08 13:00] vineetred commented on #9
@Baldomo that works. If you would like to contribute to this project directly, you can create a PR and I'll merge it.

[2020-07-08 15:32] Baldomo commented on #9
Sure, I'll make a PR when I have time (currently studying for an exam which I'll have in a week)

[2020-07-08 17:24] yochananmarqos opened #19 "thread 'main' panicked"
**Describe the bug**
Building 0.2.0 from source:

[code]

[code]

Building from latest commit:

[code]

No difference running with `RUST_BACKTRACE`

**To Reproduce**
Build with Rust 1.44.1:

[code]

I also tried without `--locked` and `--all-features`.

**Desktop**
 - OS: Manjaro GNOME

[2020-07-08 17:33] vineetred commented on #19
Hey! So this is a known bug -- flowy needs arguments to run in the current version.  Without arguments, in panics and shuts down. Try running it with ```flowy --dir <PATH TO DIR>``` and it should run fine.

[2020-07-08 18:00] #19 closed

[2020-07-08 18:01] vineetred commented on #19
Build and run the newest version -- bug has been fixed.

[2020-07-08 18:21] #10 closed

[2020-07-08 18:38] vineetred opened #21 "Windows support"
**Is your feature request related to a problem? Please describe.**
Windows support needs to be added.

**Describe the solution you'd like**
The only way I can think of is by using the winapi

**Describe alternatives you've considered**
Using image viewer tools. But that solution is too bulky so scrapped it.

**Additional context**
The Rust crate ```wallpaper``` already does this. Since it is unmai

[2020-07-08 19:09] #6 closed

[2020-07-08 20:35] vineetred commented on #9
@Aloso do you think will be a good feature?

[2020-07-08 23:02] Aloso commented on #9
In principle yes. One problem is that the sunrise and sunset time depends on your location. Most people don't know their coordinates by heart, so I can think of the following solutions:

1. flowy detects the coordinates automatically using the public IP address
    - they can be detected with `curl https://freegeoip.app/json/`
        - note this might not be very precise and doesn't work with a V

[2020-07-09 01:13] mloehnig commented on #15
@vineetred I will work on this.

[2020-07-09 03:05] vineetred commented on #15
Assigning it to you.

[2020-07-09 05:11] vineetred commented on #9
Would asking the users to input the coordinates be not ideal even if we show the link from where they can find it?

[2020-07-09 05:35] vineetred commented on #17
Commit 52c82bf fixes this.

[2020-07-09 05:35] #17 closed

[2020-07-09 06:36] #15 closed

[2020-07-09 06:48] vineetred commented on #9
@swagggpickle what do you think of this?

[2020-07-09 11:59] Baldomo commented on #9
@vineetred Redshift, f.lux and other similar apps just show the user where to get the coordinates and it's not a hassle for the devs or users honestly

[2020-07-09 13:00] vineetred opened #24 "Sunsrise/Sunset Folder or Prefix system?"
**Is your feature request related to a problem? Please describe.**
Incorporate Sunset and Sunrise times into wallpaper changing times

**Additional context**
I have implemented that solar timetable program that @Baldomo ported. However, now I am still unsure of how to segregate the wallpapers between dark and bright. Should we have different folders or should we have different prefixes attached to

[2020-07-09 13:08] Baldomo commented on #24
The actual module I ported returns a table with absolute times in epoch, they can be easily converted to day-local hours using the chrono crate, which is already required by `flowy`. I can rework the `solar_timetable` function to return chrono instants fairly trivially and maybe create a PR to add the module into flowy. Should it be a separated crate or would it be better to include it in `flowy`?

[2020-07-09 13:10] vineetred commented on #24
@Baldomo I've worked on the solar bit already and it's done. I am now planning on implementing the config generator that takes into account these solar times.

[2020-07-09 13:12] Baldomo commented on #24
@vineetred oh alright I was trying to find the changes in the PRs/branches but I couldn't, I presume you still have to push the commit(s)? There may be stuff I have to fix in the solar calculations, not to mention tests to add :)

[2020-07-09 13:15] vineetred commented on #24
@Baldomo do one thing then. Just fork the most up to date version of this repo and work upon this file I am yet to push -- https://gist.github.com/vineetred/9e20d15e8ea1313878fb5071b8e97c14. This is your port but has a few extra functions at the end. Do check it out.

Once you are done with the PR, I'll just merge it

Otherwise, I can push just ```solar.rs``` to the repo and you can work on it the

[2020-07-09 13:55] Baldomo commented on #24
Sure, I'll make PR right now

[2020-07-09 14:14] vineetred commented on #24
@Baldomo can you also make a helper function in ```solar.rs``` that converts a given time into minutes since midnight? As in, 01:02AM would be 62 minutes since midnight.

[2020-07-09 14:16] Baldomo commented on #24
@vineetred sure thing

[2020-07-11 12:12] Baldomo commented on #9
flowy now has astronomical calculations :rocket:

[2020-07-11 12:13] #9 closed

[2020-07-11 17:07] vineetred commented on #4
Commit bfb15b1 adds this function. Check the README for steps on using it.

[2020-07-11 17:07] #4 closed

[2020-07-11 17:08] vineetred commented on #24
Going ahead with a prefix system. Commit bfb15b1 adds this function.

[2020-07-11 17:08] #24 closed

[2020-07-11 17:10] vineetred opened #26 "README needs to be edited"
The current README.md file does an okay job of explaining flowy. However, there is not much logical flow and topics are not segregated well. Someone could take it up and edit the README.md file.

[2020-07-11 17:32] vineetred opened #27 "Refactor generate_config_solar function"
**Describe the bug**
Refactor the ```generate_config_solar``` function in the file ```flowy/lib.rs```. The function is just a nightmare to look at in it's current state. While it gets the job done, it can also look nice while still doing its job.

[2020-07-12 06:26] vineetred opened #28 "get_wallpaper_idx wrong output when run in Solar mode"
**Describe the bug**
When flowy is run in the solar mode, the ```get_wallpaper_idx``` returns the wrong index.

**To Reproduce**
Steps to reproduce the behavior:
Run ```flowy --solar <dir> <lat> <long>```

**Expected behavior**
It should return the index of the closest time.

**Desktop (please complete the following information):**
 - OS: Linux Mint 20
 - Version 0.2.5

**Additional context**
Curr

[2020-07-12 06:58] vineetred commented on #28
Commit 2f7e73e fixes this issue.

[2020-07-12 06:58] #28 closed

[2020-07-13 09:06] Baldomo commented on #27
@vineetred all the calculations done in [`generate_config_solar` L82-L88](https://github.com/vineetred/flowy/blob/2f7e73e8fac2d8d67c40b66137e3eaa5e81cce51/flowy/src/lib.rs#L82) can be simplified by just using the raw times in the timetable, there's no need of getting them in string format then converting them back to integers. For the same reason, all the night-duration and day-duration stuff can

[2020-07-13 10:00] vineetred commented on #27
@Baldomo go ahead. I was trying to do it myself but did not get around to it. Make a PR and I'll approve it.

[2020-07-13 10:13] Baldomo commented on #27
Sure thing. But before approving, let me know if I have to fix anything related to my code, and note that `generate_config_solar` is not necessarily shorter now but it's (in my opinion) a lot cleaner (as nothing is mutable except `Vec`s)

[2020-07-13 11:48] #27 closed

[2020-07-13 18:34] xboxnoob opened #30 "Negative longitude or latitude isnt interpreted correctly"
Negative longitude or negative latitude causes it to interpret the values as arguments instead of Longitude or latitude

[2020-07-13 19:42] vineetred commented on #30
Noted. Fixed in commit b2826e8.

[2020-07-13 19:42] #30 closed

[2020-07-13 21:03] carallo opened #32 "Deb package installation fails"
Hi!
I was trying to install the .deb package and I got a strange bug.
Running the installation in terminal it seems to get stuck at this point:

Configurazione` di flowy (0.2.5)...
+ echo enter dir
enter dir
+ read var1

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04

[2020-07-13 21:05] vineetred commented on #32
This isn't a bug -- flowy is asking you to enter the dir. Just enter the dir and you'll be good to go.

[2020-07-13 21:07] echeoquehaii commented on #32
OMG I can't believe this, I didn't notice! Sorry for that, such a noob...

[2020-07-13 21:08] vineetred commented on #32
No worries. Happy to help!

[2020-07-13 21:08] #32 closed

[2020-07-13 22:31] Aloso opened #34 "Remove `clokwerk` dependency"
With the `get_current_wallpaper_idx` function, we don't need `clokwerk` anymore. In the main loop, we can simply call `get_current_wallpaper_idx` and check if the returned index has changed since the last time.

To make this more efficient, times should be parsed ahead of time (using a `Vec<NaiveTime>` instead of `Vec<String>`).

Another possible optimization is to perform binary search instead of

[2020-07-14 05:36] vineetred commented on #34
```clockwerk``` not only allows to easily schedule tasks but also lets flowy work as a daemon. Removing it would mean we come up with our own daemon as well. I'll see if I can get to this sometime in the future.

[2020-07-14 05:38] vineetred commented on #21
PR #36 seems to add Windows functionality -- if someone would like to try it, do let us know.

[2020-07-14 05:55] #21 closed

[2020-07-14 11:33] vineetred opened #37 "Add automated CI/CD pipeline to generate binaries"
We already have a CI CD pipeline. I would like to edit this and automate the releases of binaries so that they are the most up to date versions of the source code.

[2020-07-14 14:26] Aloso commented on #34
I'm sorry I'm not following. The `set_times` function contains this code:

[code]

which could be replaced with something like

[code]

[2020-07-14 15:01] vineetred commented on #34
That is true, my bad. I just feel having clokwerk here makes the whole thing cleaner? Given that we are already using the main dependencies of clokwerk, I don't think we'll get a substantial performance boost either once it's removed. What do you think?

[2020-07-14 16:27] Aloso commented on #34
Yes, the impact on compile times is probably negligible. I just think that we don't gain much by using it, and removing `clokwerk` might make the code simpler and easier to debug.

[2020-07-14 16:35] vineetred commented on #34
Fair enough. For now, however, I think I would like flowy to stick with clokwerk just because it makes things look cleaner. However, I will let the issue stand as we will switch over some day

[2020-07-17 06:12] schneik80 opened #39 "Install of service not working"
**Describe the bug**

I have installed on ubuntu and configured using the command line.

Running from cli works as expected:

[code]

when trying to run as a service it fails:

[code]

**Steps to Reproduce**
1.  Download flowy_0.2.5_amd64.deb
2.  Install (note no prompt to locate directory as README.MD claims)
3.  In CLI run  ```systemctl --user start flowy.service```
4.  No result. Flowy is not r

[2020-07-17 07:16] vineetred commented on #39
This is an interesting bug -- the deb installation seems to have added flowy to path but not included the service file. I've rebuilt the file and it is working on my local. Check it out -- I've added it again to the release.

Also, the fact that you are able to see the service file in the directory ```/etc/systemd/user``` means that the installation worked. Not sure why ```systemd``` is unable to

[2020-07-17 18:01] vineetred commented on #39
I presume that flowy ended up working for you. I will close this issue in the next 12 hours.

Post here if I am mistaken.

[2020-07-18 01:56] schneik80 commented on #39
nope. i have tried the new deb and was able to get the prompt to locate the directory.
i still error out when trying to start the service:
[code]

this is true with flowy.service in /etc/systemd/user/ or /etc/systemd/system

[2020-07-18 05:25] vineetred commented on #39
The systemd service file is very bare and all its doing is running the same CLI command you ran in the first comment. The error that flowy is throwing seems to say that it wasn't able to find the desktop environment, which is weird because it runs find if run through the command line. Your problem seems to lie in the way the systemd service permissions are set. I have a Ubuntu local and it works f

[2020-07-18 20:44] zephyr697 commented on #39
@schneik80 Did you manage it to work? I'm getting the same error.

[2020-07-18 22:31] schneik80 commented on #39
no,

[2020-07-19 05:22] vineetred commented on #39
Can you both set the backtrace to 1 and and run flowy? It'll generate a large data dump on the terminal. Post this here.

[2020-07-19 07:46] zephyr697 commented on #39
@vineetred I'm sorry but I'm a linux noob and have no idea how to do that. Can you please elaborate?

[2020-07-19 11:15] vineetred commented on #39
Just run the command ```export RUST_BACKTRACE=1``` on your terminal. After this, run the flowy service and post all the logs here.

[2020-07-22 00:59] jmcazura opened #40 "Enable on lock screen"
Is there a way to enable the wallpaper on lock screen?

[2020-07-22 04:43] MightyPrince1 opened #41 "Unable to install it"
So I tried installing it, but after typing cargo install flowy I got stuck and I'm unable to proceed in the installation. If anyone could help me that would be great

[2020-07-22 04:50] vineetred commented on #40
As of now, it depends on your DE. On Cinammon, flowy sets both the lock screen and the desktop screen wallpaper. However, this is dependent on your DE. Adding it explicitly invovled a lot of pain so I decided against it.

[2020-07-22 04:51] vineetred commented on #41
Give me more information? What is the exact error that the machine is throwing, what environment you use so and so forth. Use the template the next time.

[2020-07-22 04:52] #7 closed

[2020-07-22 06:03] ghost commented on #41
so here's what I did:
i copied " cargo install flowy " into the terminal
it recommended me to install cargo
I typed  " sudo apt install cargo "
and then " cargo install flowy "
then I tried typing "flowy -d" into the terminal
flowy not found did you mean flow6
I cd ed into the folder flowy is located and the same thing hapened

[2020-07-22 06:06] vineetred commented on #41
It seems like flowy didn't get installed to path. Try restarting the terminal and run the command again.

If this fails too, just grab the precompiled binary from the releases section.

[2020-07-22 06:16] ghost commented on #41
Updating crates.io index
     Ignored package `flowy v0.3.0` is already installed, use --force to override
warning: be sure to add `/home/maximilian/.cargo/bin` to your PATH to be able to run the installed binaries

[2020-07-22 06:17] vineetred commented on #41
Exactly, cargo is telling  you what to do. Just add the above bit to your path and you should be able to run it.

[2020-07-22 06:21] ghost commented on #41
what is the exact command
I've already tried cd

[2020-07-22 06:26] vineetred commented on #41
Just download the binary -- this will be easier. Give it permission by running ```chmod +x the_name_of_the_binary``` and it'll run as an executable after this.

Also, as this is the issue section for Flowy, I suggest we only stick to issues related to flowy and not on UNIX commands. I am closing the issue for now. If you still have a flowy related problem, do post here and the issue will be reopen

[2020-07-22 06:27] #41 closed

[2020-07-22 10:46] Baldomo commented on #39
@vineetred why was this issue closed? it has not been fixed upstream (and I can easily reproduce it on my machine):

[code]

It is well known that **systemd unsets pretty much all environment variables** (it's a security feature) and there are several ways of providing environment variables to services ([see here](https://www.freedesktop.org/software/systemd/man/systemd.service.html#Command%20line

[2020-07-22 10:51] vineetred commented on #39
Highly interesting! It seemed to be working fine on my end so I assumed the issue was related to a unsupported DE. Also, this was never an issue before? I am confused as to how it popped up this late.

How should one go about fixing this?

[2020-07-22 10:57] Baldomo commented on #39
I suppose you can also ask for the desktop environment during the service installation procedure, as using this
[code]
works just fine (for example, I use XFCE so I'd set `<value>` to `XFCE`)

Edit: I also snooped around in the code for `directories-next` as it also uses `XDG_*` environment variables but the crate is able to work without them so the only one needed is `XDG_CURRENT_DESKTOP`

[2020-07-22 10:58] vineetred commented on #39
Hmmm this sort of makes the process rather tedious. I was planning on discontinuing the debian release and just support binaries instead. What do you think?

[2020-07-22 12:27] Baldomo commented on #39
Technically I think showing users how to setup the systemd service (maybe as a section in the readme or wiki) by themselves should be ok (the snippet I included in the comment above is pretty much all you need to have it working). In the end it's a single command so a quick web search will show how to auto-run it on startup for any system.

[2020-07-22 14:25] Baldomo opened #42 "XFCE: Change wallpaper on all workspaces and monitors"
`wallpaper_rs` should change all properties ending with `last-image` in XFCE. As of the latest commit, it only changes wallpaper [in the primary screen and first workspace](https://github.com/vineetred/flowy/blob/55832e26b532359d9a78dde983c658feec6ee01f/wallpaper_rs/src/linux.rs#L75), whereas it should account for multiple workspaces and monitors.

**Describe the solution you'd like**
In bash/comm

[2020-07-22 15:12] vineetred commented on #42
Should be an easy fix -- just need to parse all the options into an array and cycle through them. Will get to it over the weekend.

[2020-07-22 15:54] Baldomo commented on #42
I already have a prototype working, I could make a PR. I also discovered a bug: after [quoting the path here](https://github.com/vineetred/flowy/blob/55832e26b532359d9a78dde983c658feec6ee01f/wallpaper_rs/src/linux.rs#L38), the string will be formatted as `"1234567path"`, so [slicing it to `[7..]` here](https://github.com/vineetred/flowy/blob/55832e26b532359d9a78dde983c658feec6ee01f/wallpaper_rs/sr

[2020-07-22 16:01] vineetred commented on #42
Good catch. Do make a PR then.

[2020-07-22 16:41] vineetred commented on #42
Fixed by PR #43

[2020-07-22 16:41] #42 closed

[2020-07-22 17:47] vineetred opened #44 "strip_prefix unstable"
**Describe the bug**
In PR #43 submitted by @Baldomo -- we use a Rust method ```strip_prefix```. This method was deemed [unstable](https://github.com/rust-lang/rust/issues/67302). We should stick to safe code

**Expected behavior**
Ideally, functionality preserving solution that does not use this method.

[2020-07-22 17:58] Baldomo commented on #44
I believe the `strip_*` methods have been stabilised in rust 1.45.0 [as per the source code here](https://doc.rust-lang.org/src/core/str/mod.rs.html#4060-4063)

[2020-07-22 18:07] vineetred commented on #44
Crap! I need update Rust then. Closing the issue.

[2020-07-22 18:07] #44 closed

[2020-07-22 23:40] schneik80 commented on #39
adding `Environment=XDG_CURRENT_DESKTOP=<value> ` was all i needed to fix the issue. i now have the service enabled and running as expected.

I simply used `echo $XDG_CURRENT_DESKTOP` to get the value I needed to add to the .service file
If the install is asking for the image directory could the script gather this value and write it at install time?

[2020-07-23 04:31] vineetred commented on #39
@schneik80 that's great to hear. However, regarding your second point, I am planning to discontinue releasing the debian specific installation file. Instead, I plan on just posting the instructions on the README that shows how to setup flowy as a systemd service.

[2020-07-23 04:35] schneik80 commented on #39
understood. the read me could also do with some examples of appropriate Lat and Log formats. I can log a separate issue if need be.

[2020-07-23 04:36] vineetred commented on #39
Yeah, the readme needs a big revamp anyways. Been caught up with work -- will get around to it this weekend hopefully.

[2020-07-23 16:59] vineetred commented on #34
Commit 6049b4a fixes this.

[2020-07-23 16:59] #34 closed

[2020-07-23 17:31] vineetred commented on #26
I have edited slightly -- still needs more work.

[2020-07-24 13:32] vineetred commented on #39
I've fixed the README as well. I will keep this issue up for another week before taking it down as it may help others who are still relying on the Debian release.

[2020-07-29 10:43] vineetred opened #46 "GUI for Flowy"
**Is your feature request related to a problem? Please describe.**
GUI that can allow user to setup Flowy

[2020-07-29 13:05] #39 closed

[2020-08-02 06:10] gamehelp16 opened #47 "Flowy doesn't work on Openbox on Arch Linux"
**Describe the bug:**
I'm using openbox on Arch and flowy doesn't seem to support it.

**To Reproduce:**
Steps to reproduce the behavior:
1. Run `./flowy -d <dir name>` on openbox
2. See error

**Expected Behavior:**
Wallpaper should be changed.

**Desktop:**
 - Openbox on Arch Linux

**Additional context**
Here's the error message produced:
`thread 'main' panicked at 'Desktop envt could not be de

[2020-08-02 16:25] vineetred commented on #47
Currently, flowy does not support Openbox.

However, I'll add it soon. Will keep the issue open until then.

[2020-08-05 04:13] Celeo commented on #37
You could either use something like [auto](https://github.com/intuit/auto/) with [GHA integration](https://intuit.github.io/auto/docs/build-platforms/github-actions#ignite), or something like [this GHA addon](https://github.com/actions/upload-release-asset#example-workflow---upload-a-release-asset).

The former is intended to integrate with your releasing process and automate the release iteself,

[2020-08-06 11:44] KosenJPG opened #48 "Flowy won't start as a systemd automated process"
Laptop running on Manjaro.

Didn't have cargo installed so I went `pacman -S cargo` ; once cargo got installed I followed the readme `cargo install flowy` ; I then added `.cargo/bin` to my `$PATH` so that I could run flowy into my command line and everything worked fine.

When I tried making flowy a systemd automated process (once again following the readme), I got this error when trying to run fl

[2020-08-06 15:12] vineetred commented on #48
Can you post the contents of your ```flowy.service``` file?

[2020-08-06 15:35] KosenJPG commented on #48
[code]

[2020-08-06 15:37] vineetred commented on #48
I see the issue - you're never starting flowy!

So under the line where it says ```ExecStart=``` you must have the entire flowy command here. For example, in your case, that line would become ```ExecStart= flowy --dir /home/kosen/Images/flowywalls/spiritedaway```.

Your service file never knew what program to start.

[2020-08-06 16:32] KosenJPG commented on #48
Yeah I tried that but I also have the same error :
[code]

[2020-08-07 01:51] joseildofilho commented on #47
Hi, which program does OpenBox uses for set you background, cause, if it's feh, one can try set as bspwm.

[2020-08-07 03:42] vineetred commented on #48
Seems like flowy isn't in your path. Can you try adding it manually by download the appropriate binary from the releases section? Should work then.

[2020-08-07 09:19] gamehelp16 commented on #47
I use feh to change my background on openbox. When I try running `env XDG_CURRENT_DESKTOP=bspwm ./flowy -d <dir name>`, the console output is stuck at `<--- Daemon Listening --->` and my wallpaper doesn't change (the exact same results as when running flowy with `XDG_CURRENT_DESKTOP` set to i3).

[2020-08-08 18:36] joseildofilho commented on #47
hi, i tried to run, and i get the same as you, so, i had dived into the code, and I found that the rust didn't find the file, cause it was getting the following path: file://./lake (i downloaded the lake file and had put inside the project), so to solve it i tried flowy -d $(pwd)/lake.
PS: one can set as the DE as I3 or BSPWM, both use the same path, feh.

[2020-08-09 06:07] vineetred commented on #47
This is very interesting. Does it now work?

[2020-08-09 06:16] gamehelp16 commented on #47
This worked like a charm, thank you!

[2020-08-13 21:23] knightpp opened #50 "Move away demo folder from Master branch"
### Problem
Building from Master branch requires downloading heavy .gif files.

### Solution
Move .gif files to the other branch or add gifs to a specially created Issue and link back to Readme.md.

I can do this if you want.

[2020-08-14 08:31] vineetred commented on #50
Sure! Go ahead. Will approve the PR.

[2020-08-14 10:59] knightpp opened #51 "Special issue for storring files"

[2020-08-14 11:00] knightpp commented on #51
Oh no. Here is a 10MB limit on files.

[2020-08-14 11:00] #51 closed

[2020-08-14 11:13] knightpp commented on #50
Please create a new branch and push to the repo so I can create PR. I tried to attach gifs to an issue, but there is a limit on the uploads.
[code]

[2020-08-19 19:47] ventaquil commented on #48
@KosenJPG I think that problem is with your `PATH` variable.

Error suggests that your `PATH` contains only `/usr/local/bin:/usr/bin` but as a user you probably have `$HOME/.cargo` too.

My suggestion is to install flowy under `/usr/bin` directory. Everything should be fine then.

[2020-08-20 06:47] KosenJPG commented on #48
@ventaquil yeah that's exactly my issue, but how can I install flowy under `/usr/bin`? When I follow the procedure it automatically installs it under `/.cargo`

[2020-08-20 10:41] ventaquil commented on #48
How about `--root` option?

    $ cargo install --root=/usr/local/ flowy
    ....
       Compiling flowy v0.3.3
        Finished release [optimized] target(s) in 3m 11s
      Installing /usr/local/bin/flowy
       Installed package `flowy v0.3.3` (executable `flowy`)
    $ find / -name flowy
    /usr/local/bin/flowy

Here you have installation directory order: [cargo install (docs)](https://doc.ru

[2020-08-20 16:06] KosenJPG commented on #48
@ventaquil Fixed! thank you!

[2020-08-21 05:03] vineetred commented on #48
Closing the issue as it is fixed.

[2020-08-21 05:03] #48 closed

[2020-08-22 21:00] Milan12332567 opened #52 "[W10] unresolved import `wallpaper_rs::DesktopEnvt`"
Hi there, so i saw this project and thought it was cool so I tryed installing it and got this:

[code]

Now I am probably only one that actually tries to run this on windows so I am think this may not be something youre aware of.

[2020-08-23 03:48] vineetred commented on #52
Very interesting! Could you tell me how you installed flowy? Also, it works well on W10 usually so not sure what is happening.

Also, you can just download the pre-compiled binary from the releases section. Just tested this method on a W10 PC and it works perfectly.

[2020-09-01 18:28] ghost commented on #52
Yes, i realised after posting that pre-builds work.

I installed it standardly.

[2020-09-02 04:55] #52 closed

[2020-09-07 11:43] hektor commented on #47
Did the trick in dwm too.
Setting my `XDG_CURRENT_DESKTOP` to `i3` before running `flowy -p lake`
while having feh installed.

[2020-09-15 14:17] BrachyKnight opened #53 "Flowy doesn't start at boot even after systemd --user enable flowy.service"
**Describe the bug**
Even after creating the file flowy.service in /etc/systemd/user and enabling it, after login the process is dead

**To Reproduce**
1. Create the file /etc/systemd/user/flowy.service
2. Write it like so:
[code]
3. Run `systemctl --user enable flowy.service`
4. After reboot the service isn't started, but it can be started with `systemctl --user start flowy.service`

**Expected b

[2020-09-15 14:19] vineetred commented on #53
The unit file ensures that flowy runs in the background; not at boot.

[2020-09-15 14:23] BrachyKnight commented on #53
@vineetred I tried modifying it but with no success. Is there a way to do so? Someone suggested adding `Type=oneshot` but it didn't work

[2020-09-15 14:25] vineetred commented on #53
Sure there are loads of ways. This [tutorial ](https://www.linode.com/docs/quick-answers/linux/start-service-at-boot/)is one such way.

Closing the issue as this is not relevant to flowy.

[2020-09-15 14:25] #53 closed

[2020-09-17 09:50] TallGorilla opened #54 "ERROR (TCP) Failed TLS handshake notif_conn: Empty certificate data (an2linuxserver.py:231)"
**Describe the bug**
i started the script from using systmctl start An2Linux.service, the service start but dont show the notifications, here is the log.
● An2Linux.service - Run script at startup after network becomes reachable
     Loaded: loaded (/etc/systemd/system/An2Linux.service; disabled; vendor preset: enabled)
     Active: active (running) since Thu 2020-09-17 11:43:04 CEST; 2min 29s ago

[2020-09-17 12:02] JonaLoeffler opened #55 "Rebuild wallpaper_rs cargo package"
Running flowy in i3wm still results in a kernel panic. I suppose this is because the wallpaper_rs cargo package has not been rebuilt yet.
Could you please update the package to include the latest changes?

[2020-09-17 12:03] vineetred commented on #54
This is for flowy, the wallpaper application. Closed due to not being relevant.

[2020-09-17 12:03] #54 closed

[2020-09-17 12:04] vineetred commented on #55
Just checked -- seems like that is the issue. I am currently traveling, do you think is it possible for you to create a small PR?

[2020-09-17 12:05] #40 closed

[2020-09-17 13:40] JonaLoeffler commented on #55
I'm not really this familiar with Rust/Cargo. Do I just have to set the version number in wallpaper_rs/Cargo.toml and flowy/Cargo.toml to 0.1.1 or is there more to it?

[2020-09-17 14:10] vineetred commented on #55
Yep. That should be okay. The CI pipeline should generate the required binaries once done.

[2020-10-12 03:01] ergpopler commented on #46
@vineetred I can help with this if needed.

[2020-10-14 10:16] vineetred commented on #46
@ergpopler Sure! What is your proposed solution?

[2020-10-17 23:57] ergpopler commented on #46
I'd probably use gtk-rs

[2020-10-18 05:48] vineetred commented on #46
Sounds good to me. I am assigning this issue to you.

Good luck!

[2020-10-23 18:20] ergpopler commented on #46
nearly done, will likely be done today, maybe tomorrow morning :)

[2020-10-23 23:31] ergpopler commented on #46
@vineetred

It is complete technically, currently you must have flowy installed, then compile the GUI thing and use that, but maybe we can get it to open the gui when you do flowy --gui or something along those lines...

you can see what i've gotten so far on my github. https://github.com/ergpopler/flowy

Done for a bit.

[2020-10-24 05:17] vineetred commented on #46
Looking good.

A possible solution would be have two different compiled binaries of flowy. One would be the existing CLI version of it and another would the GTK GUI version.

[2020-10-24 12:40] ergpopler commented on #46
ah yeah that sounds better. I need to work some bugs out.

[2020-10-26 21:43] ergpopler commented on #46
@vineetred

I've finished it up(hopefully?). https://github.com/ergpopler/flowy_gui/tree/master

If there is anything wrong or you want me to add something just let me know :)

[2020-10-27 04:51] vineetred commented on #46
Possible to get a demo GIF and some images?

[2020-10-27 13:00] ergpopler commented on #46
For sure!

[2020-11-01 21:56] ghost commented on #46
Maybe electron?

[2020-12-02 18:45] ventaquil opened #57 "VirtualBox save state and restore causes black background"
**Describe the bug**
I have Ubuntu 20.04 virtual machine in VirtualBox. Sometimes after saving state of working machine and restoring later background is black.

**To Reproduce**
Steps to reproduce the behavior:
1. Create VirtualBox virtual machine with Ubuntu 20.04.
2. Install flowy.
3. Save state of working machine.
4. Restore state.
5. See an error.

**Expected behavior**
Normal background wall

[2020-12-23 17:29] MidnessX opened #58 "Solar mode mode alternates day and night wallpapers twice per day"
**Description**
Solar mode mode alternates day and night wallpapers twice per day on Windows.

**To Reproduce**
Using a folder with two wallpapers, one named "DAY-1.jpg" and one named "NIGHT-2.jpg", run flowy in solar mode providing latitude and longitude.
Flowy will output four different times of day and four wallpapers: it will be "DAY-1.jpg", "NIGHT-2.jpg", "DAY-1.jpg", "NIGHT-2.jpg".

e.g.
.\f

[2021-02-06 14:54] vineetred commented on #58
Hey! Does this still happen? If I'm not wrong, flowy needs atleast 4 wallpapers to work as expected in the Solar mode. Try this and let me know what happens!

[2021-02-06 14:55] vineetred commented on #57
Okay this seems to a bug when running flowy on VMs. However, I wasn't able to replicate it. Do you think you can provide me with the rust stacktrace/the errors you see?

[2021-02-06 14:55] #55 closed

[2021-02-06 14:55] #50 closed

[2021-02-06 14:56] #47 closed

[2021-02-06 14:56] vineetred commented on #46
@ergpopler any updates on this?

[2021-02-10 08:22] ventaquil commented on #57
Hey @vineetred, thanks for response.

I am trying to investigate it. Quick look shows that sometimes flowy service dies (I tried to get some logs but I don't see anything useful).

I am going to build it using debug target and run in a foreground, maybe this method is going to be more helpful.

[2021-02-10 14:25] vineetred commented on #57
Sounds good! Let me know how that works out.

[2021-02-13 17:40] ventaquil commented on #57
It seems that it's broken systemd service configuration. Sorry for the confusion.

[2021-02-13 17:40] #57 closed

[2021-02-13 17:48] MidnessX commented on #58
Hi,
Unfortunately yes, it still does occur!
I've tried using four different wallpapers (DAY-01.jpg, DAY-02.jpg, NIGHT-01.jpg, NIGHT-02.jpg) but to no avail since I still get a schedule where the sequence is repeated twice.

I've also noticed that the program fails to parse arguments if I write the path using backslashes as would be normal on Windows.
Some quirks while listing the content of the fo

[2021-02-16 21:53] vineetred commented on #58
Interesting! Let me take a look at this right away.

Yep -- the Windows file listing behaves weirdly at times. If possible, I'd say stick to the UNIX naming schema. I'll make a note of this, for now, on the README.

[2021-02-16 23:18] vineetred commented on #58
Commit 5e7bf728f69348c63874448dc9484be1411748aa should fix this. @MidnessX let me know if it still persists.

[2021-02-16 23:19] #58 closed

[2021-02-17 10:19] MidnessX commented on #58
Just letting you know everything works fine now, thanks!

[2021-02-17 19:52] mayukhnair commented on #37
Hi! Noticed this was an open issue, authored an Actions workflow (PR #59) to get it done.

[2021-02-17 20:18] #37 closed

[2021-02-17 20:19] vineetred commented on #37
PR #59 added this.

[2021-07-26 06:37] MyIsaak opened #60 "Run as background service"
Well sometimes due to Window's sleep feature, the running terminal program for flowy stops working. Would it be a service, then it won't be treated as an application and could perhaps be more resource efficient.

[2021-07-30 07:43] JonaLoeffler opened #61 "Issues with spaces in file names"
When using flowy with the lake preset, no background image will be set and the background will be gray/black.

The lake preset files contain spaces, which always worked fine until recently.
Removing the spaces from the files seems to resolve my issue.

Steps to reproduce the behavior:
1. Run flowy with the lake preset
2. The background image won't be updated
3. Rename the files to not use spaces
4

[2021-07-31 02:51] vineetred commented on #61
Hmm interesting! Let me try and reproduce this.

[2021-09-11 16:52] specaries opened #64 "flowy doesn't recognize i3 window mnager"
I'm using manjaro i3 i downloaded  flowy from the aur with no problem
i followed the instructions from the README but when running the command in the terminal flowy prints

thread 'main' panicked at 'Desktop envt could not be determined: NotPresent', flowy/src/lib.rs:168:43
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

when i run echo $XDG_CURRENT_DESKTOP it doesn'

[2021-09-12 15:21] #64 closed

[2021-09-14 22:53] groent opened #65 "thread 'main' panicked at 'Unknown setting 'multiple' in YAML"
Building from 0.4.0
[code]

When run with RUST_BACKTRACE=1

[code]

 - OS: Arch Linux
 - Desktop Environment:  KDE

I tried reinstalling flowy several times, and I don't know how to format text I am quite new to git hub

[2021-11-30 11:42] chaudharyjatin115 commented on #46
Hey i wanna help with gui i would love to make a cross platform gui with flutter

[2021-11-30 14:23] vineetred commented on #46
Go ahead and create a PR

[2022-01-27 16:57] Yeethaven opened #66 "build failed - compilation error"
**Describe the bug**
When I try to install flowy using `cargo install flowy`, the build fails with the following output:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Use `cargo install flowy` on Linux Mint 20.3  x86_64 Cinnamon

**Expected behavior**
flowy should be downloaded and compiled by cargo.

**Desktop (please complete the following information):**
 - OS: Linux Mint 20.3 x86_

[2022-01-27 22:55] Yeethaven commented on #66
Update: downloading the binary from releases works as an alternative, but I still can't build flowy myself

[2022-03-05 22:31] fuzzylogicltd opened #67 "All wallpapers in a set work except one"
I've set up Flowy to use systemd automation to swap out 16 of a set. These are Apple's Mojave wallpapers and [this is the version](https://files.rb.gd/mojave_dynamic.zip) I downoaded. I renamed them as required:

![image](https://user-images.githubusercontent.com/1516179/156901601-699f0a02-6fc4-453d-bf6e-bb0e970f5792.png)

I set up the flowy.service file as so:
[code]
And it seems to work, for the

[2022-03-08 03:21] vineetred commented on #67
This is super strange! Let me try to reproduce this on my machine!

[2022-03-08 03:21] vineetred commented on #66
@Yeethaven sorry about the delayed response; were you able to build it later? I just tried to build on my local and everything went fine. Let me know if that's not the case with you?

[2022-06-30 13:24] welcoMattic opened #68 "Flowy doesn't work at all on Arch + i3"
**Describe the bug**
Exemple is better than a long discuss:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download linux release
2. Add execution permission on flowy binary
3. Execute the command
4. See error

**Expected behavior**
Background must be set

**Desktop (please complete the following information):**
 - OS: ArchLinux
 - WM: i3-gaps

[2022-06-30 16:18] welcoMattic commented on #68
It need `feh` command to be installed

[2022-06-30 16:18] #68 closed

[2022-09-28 23:48] edmundluong opened #70 "Compilation Error (error[E0308]: mismatched types) on Fresh Linux Mint 21 Installation via Cargo"
**Describe the bug**
Attempted to install via `cargo install flowy` via terminal on a fresh installation of Linux Mint 21. Installed `cargo` version is 1.64.0 (387270bc7 2022-09-16). Installed `rustc` version is 1.64.0 (a55dd71d5 2022-09-19).

**To Reproduce**
`cargo install flowy` on LM21

**Error Output**
[code]

**System Information:**
- Kernel: 5.15.0-48-generic x86_64
- bits: 64
- compiler: g

[2022-10-01 21:47] EzPzDev commented on #70
I'm not that familiar with rust, but I think you're using the wrong version of Clap. The dependencies in `flowy/flowy/Cargo.toml` should look like this:
[code]

[2022-11-04 00:33] #65 closed

[2022-11-04 00:33] #66 closed

[2022-11-04 00:34] #70 closed